@model Category
<form asp-action="Edit" method="post">

	<div class="border p-3 mt-4">
		<div class="row pb-3">
			<h2 class="text-primary"> Update Category </h2>
			<hr />
		</div>

		@* <div class="row mb-3"> *@
		@* 	<label asp-for="CategoryId"></label> *@
		@* 	<input asp-for="CategoryId" class="form-control" /> *@
		@* 	<span asp-validation-for="CategoryId" class="text-danger"></span> *@

		@* </div> *@
		
		<div class="row mb-3">
			<input type="hidden" asp-for="CategoryId" />
			<label asp-for="CategoryName"></label>
			<input asp-for="CategoryName" class="form-control" />
			<span asp-validation-for="CategoryName" class="text-danger"></span>

		</div>
		<button class="btn-primary" type="submit"> Update </button>
	</div>
	<a asp-action="Index" asp-controller="category"> Back To List </a>

</form>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("Name"))
{
	<div class="alert alert-danger">
		@ViewData.ModelState["Name"]?.Errors.FirstOrDefault()?.ErrorMessage
	</div>
}

@section scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}



